= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= will_paginate @songs

%table#table_main.zebra-striped
  %thead
    %tr
      %th= sortable "title"
      %th= "Track"
      %th= "Length"
      %th= sortable "album"
      %th= sortable "artist"
      %th= sortable "playcount", "Plays"
      %th= "Rating"
      %th= "Actions"
  - @songs.each do |song|
    %tr
      %td
        %a{:href => "/view/song/" + song.id.to_s}= song.title
      %td
        !=display_nillable(song.tracknumber)
      %td
        !=display_nillable(song.length)
      %td
        !=display_nillable(song.album)
      %td
        !=display_nillable(song.artist)
      %td
        !=display_nillable(song.playcount)
      %td
        !=display_nillable(song.rating)
      %td
        .editLink{:id => ["editLink_" + song.id.to_s]}="edit"
= will_paginate @songs
= page_entries_info @songs