= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= will_paginate @songs
.songListView
  .listHeaderSection
    .mediaTitle=  sortable "title"
    .trackNumber= "Track"
    .length= "Length"
    .albumName= sortable "album"
    .artistName= sortable "artist"
    .playCount= sortable "playcount", "Plays"
    .mediaRating= "Rating"
    .listItemActions= "Actions"
  - @songs.each do |song|
    = render :partial => "songs/listEntry", :locals => { :song => song }
= will_paginate @songs
= page_entries_info @songs