.songListView
  .listHeaderSection
    .mediaTitle=  sortable "title"
    .trackNumber= "Track"
    .length= sortable "length"
    .albumName= sortable "album"
    .artistName= sortable "artist"
    .playCount= sortable "playcount", "Plays"
    .mediaRating= "Rating"
    .listItemActions= "Actions"
  - @songs.each do |song|
    = render :partial => "songs/listEntry", :locals => { :song => song }
.pagination
  = will_paginate @songs