.songInfoLine{:id => ["songInfoLine_" + song.id.to_s]}
  - if song.title != nil
    .mediaTitle
      %a{:href => "/view/song/" + song.id.to_s}= song.title
  -else
    .mediaTitle
      %i="nil"
  - if song.tracknumber != nil
    .trackNumber= song.tracknumber
  -else
    .trackNumber
      %i="nil"
  - if song.length != nil
    .length= song.length
  -else
    .length
      %i="nil"
  - if song.album != nil
    .albumName= song.album
  -else
    .albumName
      %i="nil"
  - if song.artist != nil
    .artistName= song.artist
  -else
    .artistName
      %i="nil"
  - if song.playcount != nil
    .playCount= song.playcount
  -else
    .playCount
      %i="nil"
  - if song.rating != nil
    .mediaRating= song.rating
  -else
    .mediaRating
      %i="nil"
  .listItemActions
    .editLink{:id => ["editLink_" + song.id.to_s]}="edit"
.songEditSection{:id => ["songEditSection_" + song.id.to_s]}
  %input{:type => "submit", :value => "Save"}