<h1>Listing songs</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Length</th>
    <th>Year</th>
    <th>Owner</th>
    <th>Albumart</th>
    <th>Playcount</th>
    <th>Lastplay</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.filename %></td>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.album %></td>
    <td><%= song.length %></td>
    <td><%= song.year %></td>
    <td><%= song.owner %></td>
    <td><%= song.albumart %></td>
    <td><%= song.playcount %></td>
    <td><%= song.lastplay %></td>
    <td><%= song.notes %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
