!!! 5
%html
  %head
    %title="MediaManager - Song List"
    = stylesheet_link_tag "bootstrap/bootstrap", "songs"
    = javascript_include_tag "songs"
    = csrf_meta_tag
  %body
    .container
      = render :partial => "layouts/navbar"
      .content
        = yield
      %footer
        %p
          &copy; G-Bits 2011
