%html
  %head
    %title="MediaManager - View Media"
    = stylesheet_link_tag "scaffold", "view"
    = javascript_include_tag "view"
    = csrf_meta_tag
  .body
    = render :partial => "layouts/navbar"
    %hr
    = yield
